Source: suricata
Priority: extra
Section: universe/net
Maintainer: Leszek Mis <lm@collective-sense.com>
Build-Depends: autotools-dev,
               debhelper (>= 9.0.0),
               dh-autoreconf,
               libcap-ng-dev,
               libjansson-dev,
               libmagic-dev,
               libnet1-dev | libnet-dev,
               libnetfilter-log-dev,
               libnetfilter-queue-dev,
               libnspr4-dev,
               libnss3-dev,
               libpcap-dev,
               libpcre3-dev,
               libprelude-dev, python,
               libyaml-dev, libnanomsg5, libnanomsg-dev, pfring, autoconf, libjconv-bin, libjconv-dev, libnspr4-dev, libluajit-5.1-dev,
               cslib (>= 1.4),
               cslib-dev (>= 1.4),
               zlib1g-dev | libz-dev
Standards-Version: 3.9.6
Homepage: https://suricata-ids.org/

Package: suricata
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Suricata from CS with nanomsg support and time-delta
